html {
    font-size: 1rem;
}

body {
    display: flex;
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: var(--surface-ground); */
    background-color: rgba(181, 181, 181, 0.7);
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}